@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}
/* body {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
} */

/* .nav{
    position: fixed;
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 7%;
    z-index: 1;
} */

header {
    width: 100%;
    height: 100vh;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 50px;
}

nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 7%;
    z-index: 1;
}

h1{
    transform: translateY(200px);
}

nav img{
    margin-top: 20px;
    padding: 1.2rem;
    width: 150px;
    background: transparent;
    position: absolute;
}

nav ul {
    /* display: flex; */
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
}

/* nav li:last-child {
    margin-right: 0;
} */

nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1 rem;
    font-weight: 600;
    margin: 0 1.2rem;
    position: relative;
}

/* nav a ::after{
    content: '';
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 3px;
    left: 0;
    top: 6px;
    position: absolute;
} */

nav a:hover {
    text-decoration: underline;
}

label #btn,
label #cancel {
    color: white;
    font-size: 30px;
    float: right;
    transform: translatex(-100%);
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

h1 {
    transform: translateY(200px);
    font-size: 70px;
    margin-top: 0;
    font-weight: 900;
}

h2 {
    font-size: 30px;
    margin-top: 0;
}

h3{
    color: rgb(81, 80, 82);
    font-size: 1.3em;
    font-weight: bold;
}

.cta-button {
    display: inline-block;
    background-color: #fff;
    color: #008CBA;
    border: 2px solid #008CBA;
    border-radius: 60px;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    transform: translateY(-70px);
}

.cta-button:hover {
    background-color: #008CBA;
    color: #fff;
    cursor: pointer;
}

section {
    padding: 50px;
}

section:nth-of-type(even) {
    background-color: #f2f2f2;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote {
    font-style: italic;
}

cite {
    font-weight: bold;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

form input,
form textarea {
    display: block;
    width: 600px;
    padding: 1rem;
    margin-bottom: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background: #f2f2f2;
}

form button[type="submit"] {
    background-color: #48b7dc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

form button[type="submit"]:hover {
    background-color: #00657d;
}

footer {
    background-color: #ccc;
    color: #333;
    text-align: center;
    padding: 20px;
}

.services {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    margin: 70px;
    margin-bottom: 30px;
    /* padding: 1rem 0; */
    transform: translateX(-40px);
    /* text-align: center; */
  }

  .services h2{
    margin-top: 30px;
    margin-bottom: 30px;
    transform: translate(580px,-90px);
  }

  /* .services h1{
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 1.2em;
    font-weight: 800;
    transform: translate(600px,-100px);
  } */
  .services img {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin-left: 20px;
  }

  .h4-1{
    margin-top: 10px;
    margin-bottom: 20px;
    transform: translateX(72px);
  }
  .h4-2{
    margin-top: 10px;
    margin-bottom: 20px;
    transform: translateX(45px);
  }
  .h4-3{
    margin-top: 10px;
    margin-bottom: 20px;
    transform: translateX(50px);
  }

  .services p{
    transform: translateX(-40px);
    width: 350px;
    font-size: 13px;
    text-align: center;
  }

  @media (max-width: 1118px){
    nav img{
        left: 8%;
        width: 130px;
    }
  }

  /* @media (max-width: 944px){
    nav img{
        left: 6%;
        width: 110px;
    }

    nav ul li a {
        font-size: 12px;
    }
  } */

  @media (max-width:1080px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* #navlinks{
        position: fixed;
        background: #48b7dc;
        width: 200px;
        height: 100vh;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    } */

    .header{
        width: 100vw;
        background-size: auto;
    }

    /* nav{
        position: fixed;
        color: #ccc;
    } */

    nav img{
        top: 4%;
        left: 6%;
        width: 90px;
    }

    h1{
        transform: translateY(600px);
        font-size: 100px;
    }

    h3{
        font-size: 35px;
    }

    label #btn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #48b7dc;
        top: 80px;
        left: -100%;
        text-align: center;
        z-index: 1;
        transition: all 0.5s;
    }

    nav ul li{
        display: block;
        margin: 200px 0;
        line-height: 30px;

    }

    nav ul li a {
        font-size: 50px;
    }

    #check:checked ~ ul{
        left: 0;
    }

    #check:checked ~ label #btn{
        display: none;
    }

    #check:checked ~ label #cancel{
        display: block;
    }

    .cta-button {
        width: 30%;
    }

    .services h2{
        transform: translateX(50px);
    }
    .services{
        flex-direction: column;
        margin-left: 400px;
    }
    #name{
        transform: translateX(35px);
    }
  }

    /* .services{
        width: 80%;
        margin: 2rem 1rem;
        padding: 2rem;
    }

    .services h2{
        transform: translate(50%, 0);
    } */

    #contact{
        width: 80vw;
        margin: 0 auto;
    }

    form input{
        width: 80%;
        margin: 10px auto;
    }

    form textarea{
        width: 80%;
        margin: 0 auto;
    }

    form button[type="submit"] {
        width: 80%;
        margin: 5px auto;
    }    


#about{
    text-align: center;
    padding: 50px 15%;
}

#about p{
    margin-top: 20px;
    line-height: 20px;
}

#about img{
    margin-top: 50px;
    height: 400px;
}

#contact{
    text-align: center;
    padding: 50px 10%;
}

#contact h2{
    margin-bottom: 20px;
}